Package: ca.ndoizo.traffic
Name: traffic
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: candoizo
Author: candoizo
Section: Tweaks
